BODY	{
	font-family: Arial;
	font-size: smaller}

LINK	{color: #0000FF}

A:link	{color: #CCCC00; font-weight: normal}
A:visited	{color: #006600}
A:active	{color: #CCCC00}
A:hover	{color: #00CC33}


H1	{font-style: italic;
	font-size: small;
	font-weight: bold;
	font-family: Arial;
	text-decoration: underline}

H2	{font-style: italic;
	font-size: small;
	font-weight: bold;
	font-family: Arial}

H3	{font-size: small;
	font-family: Arial;
	font-style: italic;
	background: #D5D500;
	color: black}

H4	{font-size: medium;
	font-style: italic;
	font-weight: bold;
	font-family: Arial}

H5	{font-size: smaller;
	font-style: italic;
	font-weight: bold;
	font-family: Arial}

H6	{font-size: smallest;
	font-family: Arial}