/* CSS Document */
/* Standard HTML */

a:hover {
	color: #39312E;
}

a {
	color: #39312E;
}

body {
	margin: 0;
	background: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}
td {
	font-size: 1em;
}

fieldset {
	clear: none;
}
form {
	padding: 7px;
}

/* Content Divs */
#masthead {
	background: url(/themes/rusted/images/mh_bg.jpg);
}

#navigation {
	padding: 0px 7px 7px 7px;
	background: url(/themes/rusted/images/mh_corner.jpg) #000 no-repeat;
	text-align: center;
}

#navlinks {
	text-align: left;
	background: #9C8C75;
	padding: 6px;
	margin-top: 7px;
	border: 1px solid;
	border-color: #C7B9A4 #564D44 #564D44 #C7B9A4;
	font-weight: bold;
	color: #39312E;
}

#navlinks a {
	text-decoration: none;
	color: #39312E;
}
#navlinks a:hover {
	text-decoration: underline;
	color: #fc0;
}
	
#body-spring {
	clear: both;
	visibility: hidden;
}
#searchbox {
	float: right;
	margin: -7px -2px -7px 0;
	padding: 5px;
	vertical-align: top;
}

#bawx {
	width: 128px; 
	height: 18px; 
	padding: 0; 
	margin-bottom: 10px;
	
	border: 1px solid #564D44;
}

#left-bar {
	background: #9C8C75;
	padding: 0px;
}

#left-bar h2 {
	background: url(/themes/rusted/images/sbar_h_bg.gif);
	background-color: #564D44;
	font-size: small;
	color: #fc0;
	height: 22px;
	padding-top: 4px;
	text-align: center;
	margin-top: 0;
}

#content {
	background: #C7B9A4;
}

#content h1 {
	background: url(/themes/rusted/images/sbar_h_bg.gif);
	background-color: #564D44;
	font-size: small;
	height: 22px;
	margin: 0 0 2px 0;
	text-align: center;
	color: #fc0;
	padding-top: 4px;
}

#right-bar {
	border: 1px solid #9C8C75;
	padding: 0 0 7px 0;
	margin: 7px 0 7px 0;
	text-align: center;
}

#left-bar a, #right-bar a, #pager a {
	text-decoration: none;
	color: #39312E;
}

#left-bar a:hover {
	text-decoration: underline;
	color: #fc0;
}

#right-bar a:hover, #pager a:hover{
	text-decoration: underline;
}

#breadcrumb {
	margin: 0;
	padding: 0 7px 7px 7px;
	color: #9C8C75;
}
#breadcrumb a {
	text-decoration: none;
	color: #9C8C75;
}

#breadcrumb a:hover {
	text-decoration: underline;
	color: #39312E;
}


#right-bar h2 {
	margin-top: 0;
	font-size: small;
	background: #9C8C75;
	padding: 2px;
	color: #39312E;
}

#footer {	
	background: #564D44;
	font-size: smaller;
	padding: 4px;
	color: #9C8C75;
	border-top: 1px solid #7D746D;
	border-bottom: 1px solid #39312E;
}

#footer a {
	color: #9C8C75;
}

/* Content Classes */
.comment {
	padding: 7px;
	margin: 7px;
	border: 1px solid #9C8C75;
}

.block  {
	padding: 0;
}

.block-content  {
	padding: 0 7px 14px 7px;
}

#content .body {
	margin: 7px 0 7px 0;
	border-left: 1px solid #9C8C75;
}

#content blockquote {
	margin-left: 21px;
	padding-left: 7px;
	color: #71645C;
	border-left: 2px solid #71645C;
}

#content .body h1 {
	background: #9C8C75;
	color: #39312E;
}

.node {
	/* border: 1px solid #9C8C75; */
	padding-bottom: 7px;
}

.node .info {
	font-size: smaller;
	font-style: oblique;
	padding: 2px;
	color: #7D746D;
	margin-bottom: 14px;
}
.node a:hover {
	color: #39312E;
}

.node a {
	color: #39312E;
}

.node .info a {
	color: #7D746D;
}

.node .info a:hover {
	color: #39312E;
}

.node h2 {
	font-size: medium;
	font-weight: bold;
	padding-top: 0px;
	margin-bottom: 7px;
	padding-left: 7px;
	color: #39312E;
	border-bottom: 3px solid #9C8C75;
}

.node-content {
	padding: 7px;
}

.node h2 a {
	text-decoration: none;
	color: #39312E;
}

.box-content {

}

.links {
	padding: 0 7px 7px 7px;
}
.form-item {
	padding: 0 7px 0 7px;
}

hr {
	background: #9C8C75;
	color #9C8C75;
}

.profile {
	padding: 0 7px 0 7px;
}

.profile h2 {
	font-size: medium;
	font-weight: bold;
	margin-bottom: 7px;
	margin: 0 -7px 7px -7px;
	padding-left: 8px;
	color: #39312E;
	border-bottom: 3px solid #9C8C75;
}


.comment a:hover {
	color: #39312E;
}

.comment a {
	color: #39312E;
}

input, select, textarea {
	background: #39312E;
	color: #FFFFFF;
	font: 0.7em Verdana;
	border: 1px solid #7D746D;
}