/* orange */
a:link, a:visited {
	color: #cd6620;
}

a:hover {
	color: #ac5419;
}

#pillmenu a:hover {
  color: #cd6620;
}

#pillmenu a#active_menu-nav {
  background: url(/web/20161018063452im_/http://aq2-team.de/templates/rhuk_milkyway/images/orange/mw_menu_active_bg.png) 0 0 repeat-x;
  color: #fff;
}

#pillmenu a#active_menu-nav:hover {
  color: #fff;
}

h3, .componentheading, table.moduletable th {
  color: #cd6620;
}

div.module_menu {
	background: url(/web/20161018063452im_/http://aq2-team.de/templates/rhuk_milkyway/images/orange/mw_box_br.png) 100% 100% no-repeat;
}

div.module_menu div {
	background: url(/web/20161018063452im_/http://aq2-team.de/templates/rhuk_milkyway/images/orange/mw_box_bl.png) 0 100% no-repeat;
}

div.module_menu div div {
	background: url(/web/20161018063452im_/http://aq2-team.de/templates/rhuk_milkyway/images/orange/mw_box_tr.png) 100% 0 no-repeat;
}

div.module_menu div div div {
	background: url(/web/20161018063452im_/http://aq2-team.de/templates/rhuk_milkyway/images/orange/mw_box_tl.png) 0 0 no-repeat;
}
/*
     FILE ARCHIVED ON 06:34:52 Oct 18, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:46:34 Jan 16, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 54.727
  exclusion.robots: 0.131
  exclusion.robots.policy: 0.119
  cdx.remote: 0.099
  esindex: 0.013
  LoadShardBlock: 26.964 (3)
  PetaboxLoader3.datanode: 71.406 (5)
  CDXLines.iter: 17.159 (3)
  load_resource: 238.498 (2)
  PetaboxLoader3.resolve: 93.707 (2)
*/