/* red */
#page_bg {
	background: #640b0f;
}

div#wrapper {
		background: #f7f7f7 url(/web/20161018082644im_/http://aq2-team.de/templates/rhuk_milkyway/images/red/mw_shadow_l.png) 0 0 repeat-y;
}

div#wrapper_r {
	background: url(/web/20161018082644im_/http://aq2-team.de/templates/rhuk_milkyway/images/red/mw_shadow_r.png) 100% 0 repeat-y;
}

div#header {
	background: url(/web/20161018082644im_/http://aq2-team.de/templates/rhuk_milkyway/images/red/mw_header_t.png) 0 0 repeat-x;
}

div#header_l {
	background: url(/web/20161018082644im_/http://aq2-team.de/templates/rhuk_milkyway/images/red/mw_header_t_l.png) 0 0 no-repeat;
}

div#header_r {
	background: url(/web/20161018082644im_/http://aq2-team.de/templates/rhuk_milkyway/images/red/mw_header_t_r.png) 100% 0 no-repeat;
}

div#footer {
	background: #f7f7f7 url(/web/20161018082644im_/http://aq2-team.de/templates/rhuk_milkyway/images/red/mw_footer_b.png) 0 100% repeat-x;
}

div#footer_l {
	background: url(/web/20161018082644im_/http://aq2-team.de/templates/rhuk_milkyway/images/red/mw_footer_b_l.png) 0 0 no-repeat;
}

div#footer_r {
	background: url(/web/20161018082644im_/http://aq2-team.de/templates/rhuk_milkyway/images/red/mw_footer_b_r.png) 100% 0 no-repeat;
}
/*
     FILE ARCHIVED ON 08:26:44 Oct 18, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:46:33 Jan 16, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1922.934
  exclusion.robots: 0.11
  exclusion.robots.policy: 0.101
  cdx.remote: 0.085
  esindex: 0.009
  LoadShardBlock: 1885.71 (3)
  PetaboxLoader3.resolve: 2110.366 (5)
  PetaboxLoader3.datanode: 92.555 (5)
  CDXLines.iter: 24.745 (3)
  load_resource: 375.636 (2)
*/