/*Not really sure why IE needs all these,but hey it works!*/
.horizontal  li ul{
	margin-top: 1.4em;
	margin-left: -129px;
}	
.horizontal  li li ul{
	position: absolute;
	left: 0px;
}
/*These assist the iframe shim*/
.mlmenu iframe{
	position: absolute;
	display: none;
	filter: alpha(opacity=0);
	z-index: 2;
}
select,object,iframe{
	z-index: 1;
}
/*
     FILE ARCHIVED ON 10:42:07 Jan 23, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:38:55 May 25, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 296.176
  exclusion.robots: 0.079
  exclusion.robots.policy: 0.071
  cdx.remote: 0.052
  esindex: 0.01
  LoadShardBlock: 266.257 (3)
  PetaboxLoader3.datanode: 233.375 (5)
  load_resource: 276.315 (2)
  PetaboxLoader3.resolve: 120.631 (2)
*/