




/*
     FILE ARCHIVED ON 17:31:17 Mar 12, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 0:56:33 Jan 17, 2012.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/

a { color: white; font-weight: bold }
a:hover  { color: #ff8000; font-weight: bold; text-decoration: none; background-color: white }
td { color: white; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
body { scrollbar-3dlight-color: #FF8000; scrollbar-arrow-color: #FF8000; scrollbar-darkshadow-color: #FF8000; scrollbar-face-color: #FFFFFF; scrollbar-highlight-color: #FFFFFF; scrollbar-shadow-color: #FFFFFF; scrollbar-track-color: #FF8000; color: white }
.copytext { text-align: justify }