
body
{
	font-size : x-small;
	color : Black;
	background-color : White;
	font-family : Tahoma;
}

h2
{
font-size: 23pt;
font-weight: lighter;
color: #000000;
font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif
}

h1
{
font-size: 30pt;
font-weight: lighter;
font-variant: normal;
color: #000000;
font-family: "Courier New", Courier, mono
}

h3
{
font-size: 14pt;
font-weight: lighter;
color: #000000;
font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif
}

A:link
{
color: navy;
}

A:visited
{
color: navy;
}

A:active
{
color: navy;
}


b
{
font-weight: bold;
font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
color: navy
}

li
{
list-style-type: square;
color: navy;
font-weight: bold;
font-family: Arial, Verdana, Tahoma, Arial, Helvetica, sans-serif
}

small {
color: #1C174F;
font-size:8pt;
font-weight: 100;
font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif
}

.menu {
color: black;
font-size: 7pt;
font-weight: 300;
font-family: Helvetica, Verdana, Arial, sans-serif
}

.text {
color: #003333;
font-size: 10pt;
font-weight: lighter;
font-family: Helvetica, Verdana, Arial, sans-serif
}

.textleft {
color: #000000;
font-size: 9pt;
font-weight: bold;
font-family: Arial, Helvetica, Verdana, Arial, sans-serif
}

.headline {
font-size: 8pt;
font-weight: 500;
color: white;
text-align: left;
font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif
}

.sidebox {
font-size: 9pt;
font-weight: lighter;
color: navy;
font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif
}

.footer {
font-size: 8pt;
font-weight: lighter;
color: black;
font-family: Verdana,"Courier New", Tahoma, Arial, Helvetica, sans-serif
}

.menu {
color: #000000;
font-size: 9.5pt;
font-weight: bold;
font-family: Arial, Helvetica, Verdana, Arial, sans-serif
}

.table {
color: #003333;
font-size: 9.5pt;
font-weight: lighter;
font-family: Verdana, Arial, Helvetica, sans-serif
}


.news {
font-family:tahoma;
font-size:8pt;
}


.newsupdated {
font-size:7.5pt;
color:#666666;
font-family:arial;
font-weight:thin
}