P  {}

A  {
	color : #A0A108;
	text-decoration : none;
}

A:Visited  {
	color : #A0A108;
}

A:Active  {
	color : #FFFF00;
}

A:Hover  {
	text-decoration : none;
	color : #FFFF00;
}

BODY  {
	font-size : x-small;
	font-family : Arial;
	color : #ffffff;
	padding-left : 6;
	padding-right : 6;
	padding-top : 6;
}

