.admintable	{
		}
.admintitle	{
		border:2px solid #000000;
		font-family:arial, helvetica, geneva;
		font-size:10pt;
		color:#000000;
		font-weight:bold;
		background-image: URL(https://assets.aq2world.com/archive/websites/www.actiongames.co.uk/interactive/rowstyle.gif);
		background-repeat:no-repeat;
		background-position:right;
		}
.admincell1	{
		background-color:#6699CC;
		}
.admincell2	{
		background-color:#99CCCC;
		}