.sidebar		{
	font-size: 12px;
	font-family: Verdana,Arial,Sans-serif;
	font-style: normal;
	color: #000000;	
	margin: 12px;
}


.body_box_header 	{
	font-size:  14px;
	font-family: Verdana,Arial,Sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #111111;	
	margin: 8px;
	padding: 8px;
	border: 1px;
	border-color: #9C8C75;
	border-style: solid;
	background-color: #C7B9A4;
}
.body_box 	{
	margin: 8px;
	padding: 8px;
	border: 1px;
	border-color: #9C8C75;
	border-style: solid;
}
.comment_box 	{
	margin: 8px;
	padding: 8px;
	border: 1px;
	border-color: #9C8C75;
	border-style: solid;
	background-color: #C7B9A4;
}

.sidebar a	{
	font-size: 12px;
	font-family: Verdana,Arial,Sans-serif;
	font-style: normal;
	color: #000000;	
	text-decoration: none;
}
.sidebar a:hover{
	font-size: 12px;
	font-family: Verdana,Arial,Sans-serif;
	font-style: normal;
	color: #000000;	
	text-decoration: underline;
}

.sidebar_head	{
	font-size: 12px;
	font-family: Verdana,Arial,Sans-Serif;
	font-weight: bold;
	font-style: normal;
	color: #ffcc00;
}

.tfbar		{
	font-size: 12px;
	font-family: Verdana,Arial,Sans-serif;
	font-style: normal;
	color: #ffffff;	
}

.body		{
	font-size: 12px;
	font-family: Verdana,Arial,Sans-Serif;
	font-style: normal;
	margin-left: 18px;
	margin-right: 18px;
	color: #111111;
}
.body a		{
	color: #111111;
	text-decoration: underline;
}
.body_title	{
	font-size: 14px;
	font-family: Arial,Sans-Serif;
	font-weight: bold;
	font-style: normal;
	padding-top: 10px;
	color: #ffcc00;
}

/* NETWORK BAR */
div.networkBar {
	font-family:arial, tahoma, verdana, helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	padding:1px;
	margin:0px;
	margin-bottom:0px;
	line-height:14px;
	}
.networkBar a:link { font-size:11px; color:#FFFFFF; text-decoration:none; }
.networkBar a:visited { font-size:11px; color:#FFFFFF; text-decoration:none; }
.networkBar a:hover { font-size:11px; color:#FFCC00; text-decoration:underline; }	

div.networkBar2 {
	font-family:arial, tahoma, verdana, helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	padding:1px;
	margin:0px;
	margin-bottom:0px;
	line-height:14px;
	}
.networkBar2 a:link { color:#FFCC00; text-decoration:none; }
.networkBar2 a:visited { color:#FFCC00; text-decoration:none; }
.networkBar2 a:hover { color:#FFCC00; text-decoration:underline; }	

div.networkBar3 {
	font-family:arial, tahoma, verdana, helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	padding:1px;
	margin:0px;
	margin-bottom:0px;
	line-height:14px;
	}
.networkBar3 a:link { font-size:11px; color:#0099FF; text-decoration:none; }
.networkBar3 a:visited { font-size:11px; color:#0099FF; text-decoration:none; }
.networkBar3 a:hover { font-size:11px; color:#0099FF; text-decoration:underline; }	